body {
  font-family: "Arial","Meiryo",sans-serif;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-size: 2rem;
  letter-spacing: 1.5em;
  text-shadow: 3px 3px 3px red;
  border-bottom: solid 3px rgb(115, 115, 114)
}

html {
  font-size: 20px;
  text-align: center;
}

.text-skyblue {
  color: skyblue;
}

.text-pink {
  color: rgb(255, 192, 203);
}

#basic {
  font-weight: bold;
}